body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

/* ccolor classes */

.bg-white {
    background-color: var(--white-color);
}
.bg-grey {
    background-color: var(--grey-color);
}
.bg-dark {
    background-color: var(--dark-color);
}

/* basic structure and responsive design */

.container {
    display: inline-block;
    width: 100%;
    padding: 80px 0;
}
    .container > .row {
        display: inline-block;
        width: 1200px;
        margin: 0 calc((100% - 1200px) / 2);
    }

    @media ( max-width: 1300px ) {
        .container > .row {
            width: 900px;
            margin: 0 calc((100% - 900px) / 2);
        }
    }

    @media ( max-width: 1000px ) {
        .container > .row {
            width: 700px;
            margin: 0 calc((100% - 700px) / 2);
        }
    }

    @media ( max-width: 800px ) {
        .container {
            padding: 80px 20px;
        }
            .container > .row {
                width: 100%;
                margin: 0;
            }
    }

    /* headings */

    /* header */

    /* hero */

    /* about me */

    /* my skills */

    /* my resume */

    /* accomplishments */

    /* services */

    /* my portfolio */

    /* testimonials */

    /* my blogs */

    /* contact me */

    /* footer start */