:root {
    --white-color: #fff;
    --grey-color: #F4F5F8;
    --greyHero-color: #BDBDBD;
    --purple-color: #9C27B0;
    --dark-color: #282830;
    /* form colors */
    --formDark-color: #495057;
    --formGrey-color: #E9ECEF;
}